body
{
    height: 1500px;
    max-height: 1500px; 
}
ul
{
    list-style-type: cambodian;
}
td
{
    width: 400px;
    padding-top: 20px; 
    border-collapse: collapse;
}
#aproposdemoi 
{
    margin-bottom: 350px; 
}
#lol
{
    color: black; 
}
#bloc_page
{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    margin: 10px; 
    background-color: #ECEFF1; 
 
 
}
aside
{
    width: 30%;
    background-color: #FFA000;
    display: flex; 
    flex-direction: column;
    text-align: justify; 
    color: white; 
    margin-bottom:50px; 
    box-shadow: 5px 5px 20px grey; 
}
aside p 
{
    color: #263238;
    margin-right: 50px;
    margin-left: 50px;   
}
aside h2
{
    color: #FFA000;
    font-family: calibri;
    font-size: 30px;
    text-align: center; 
    background-color: #263238; 
    width: 100%;
}
#bloc_image img
{
    display: block; 
    margin: auto; 
    margin-top: 40px; 
    width: 200px; 
    height: 210px; 
    border-radius: 100px; 
}
#mdr
{
    padding-bottom: 0px;
    border-bottom: 2px solid #FFA000;
}
#contenus p
{
    font-size: 25px; 
    color: #37474F;
}
#contenus
{
    width: 63%;
   
    color: #37474F;
    display: flex; 
    flex-direction: column;
    margin-right: 50px; 
    text-align:justify;
    font-family: Trebuchet MS;  
}
#bloc_page h1
{
    text-decoration: none;
    color:#FFA000;
    font-size: 50px;
    margin-bottom: 0px;  

}
#tete p
{
    margin: auto; 
    margin-bottom: 70px;
    
}
#contenus h2
{
    color: black;
    border-bottom: 2px solid #FFA000; 
    width: auto;
}
#contenus img[src="image/111.png"], img[src="image/pen.svg"], img[src="image/113.png"], img[src="image/112.png"]
{
    width: 30px;  
    align-items: center; 
    margin: auto; 
    height: auto; 
    margin-right: 30px; 
}
#contenus img[src="image/Student.svg"]
{
    width: 30px; 
    margin-right: 10px;
}
#mon_experience
{
    height: auto; 
    align-items: center; 
  
   
}
#liste h4
{
    font-family: Trebuchet MS;
    margin: 0px;
    margin-top: 10px; 
    padding: 0px;
     
}
#liste table
{
    padding-left: 20px; 

    align-items:center;
   
    border-collapse: collapse;  
}

#liste td
{
    width: 400px;
    margin-top: 0px; 
    padding-top: 20px;
 

}
#date p 
{
    margin-bottom: 5px; 
    padding: 0px; 
}#table2 td
{
    width: 400px;
    padding-top: 20px; 
}

#contenus p 
{
    font-family: Myriad;
}
#mes_competences
{
    font-family: TREBUCHET MS;   
}
#ma_formation
{
    margin-bottom: 50px;
}
#ma_formation p 
{
    margin: auto; 
    margin-right: 200px; 
    text-align: center;
}
#mon_experience
{
    margin-top: 50px; 
}
#mon_experience h4
{
    width: auto;
    height: auto;
    margin: auto; 
} 



#pre img
{ 
    width: 60px;
    height: 60px; 
    margin: auto; 
    margin-right: 30px; 
     
}
#pre
{
    width: 500px; 
    height: auto; 
    margin: auto;  
    display:flex;
    align-items: center;
    
}
#loisir img
{
    display: block; 
    width: 150px; 
    height: auto; 
    margin-right: 20px; 
    margin: auto; 
}
#loisir
{
    display: flex; 
    align-items: center; 
    margin: auto; 
    margin-bottom: 30px;  
}
a
{
    color: #3F51B5; 
}
a:hover
{
    font-size: 15px; 
    color: #FF5722;
}
@media screen and (max-width: 1280px)
{
    #bloc_page
    {
        display:flex;
        background-color: white;
         
    }
    #bloc_page h1
    {
        font-family: calibri;
        margin-top: 20px;
        text-align: center;   
    }
    #tete p 
    {
        text-align: center; 
    }
    aside 
    {
        width: 100%;
        min-width: 10%; 
        background-color: #FFA000; 
        height: 80%;
        margin: auto;

          
    }
    aside p 
    {
        color: #263238;
        margin-right: 50px;
        margin-left: 50px;   
    }
    #bloc_image img 
    {
        border-radius: 20px; 
    }
    #aproposdemoi
    {
        margin: 0px;
    }
    #contenus
    {
        width: auto; 
        margin: auto; 
    }
    #pre img 
    {
        display: block; 
    }
    #pre
    {
        display:flex; 
        flex-wrap: wrap;
        height: auto; 

    }
    td
    {
        width: auto;
    }

}